# ASP.NET Core
*.*~
*.dll
*.DS_Store
*.exe
*.nuget.targets
*.pdb
*.swp
*.user
*.xproj
bin/
obj/
# Visual Studio Code
.vscode/
# build results
[Dd]ebug/
[Rr]elease/
build/
x64/
# Visual Studio 2015/2017 cache/options directory
.vs/
# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
# NUNIT
*.VisualState.xml
TestResult.xml
# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c
# .NET Core
.nuke/temp
*.bak
*.cache
*.ipch
*.sdf
*.sln.docstates
*.suo
*.vs/
**/*.[a-z]db*
**/bin/
**/obj/
artifacts/
**/publish/
**/public/
output/
project.fragment.lock.json
project.lock.json
**/coverage-results/